@model Domi_Express.Models.Stock

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Stock</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="ProductoId" class="control-label"></label>
        <select asp-for="ProductoId" class="form-control" asp-items="ViewBag.ProductoId">
            <option value="">-- Selecciona un Producto --</option>
        </select>
        <span asp-validation-for="ProductoId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CantidadDisponible" class="control-label"></label>
        <input asp-for="CantidadDisponible" class="form-control" />
        <span asp-validation-for="CantidadDisponible" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>

